# Database Configuration
POSTGRES_DB=sigaac
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_PORT=5432

# Application
APP_PORT=8080

# Security
API_SECURITY_TOKEN_SECRET=use-a-long-random-secret-key-here
API_SECURITY_TOKEN_ISSUER=sigaac
API_SECURITY_TOKEN_EXPIRATION_HOURS=2
API_SECURITY_TOKEN_REFRESH_EXPIRATION_HOURS=24
